<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </header>
    <section>
        <h1 style="text-align: center;"> About Todo.</h1>
        <p>
            <h3> 
                This is just a simple working todo list .<br>
                This is demo project for practice .<br>
                Technologies used are - NodeJs , ExpressJS , Template Engine ejs<br> 
            </h3>
        </p>
    </section>
</body>
</html>